<footer>
  <hr />
  <div class="d-flex justify-content-center">
    <a href="https://www.linkedin.com/in/sokling/" style="color: #000000">
      <i class="fab fa-github-square fa-2x m-2"></i>
    </a>
    <a href="https://www.instagram.com/csl0126/" style="color: #c1558b">
      <i class="fab fa-instagram fa-2x m-2"></i>
    </a>
    <a href="https://www.linkedin.com/in/sokling/" style="color: #0077b5">
      <i class="fab fa-linkedin fa-2x m-2"></i>
    </a>
  </div>
  <div class="d-flex justify-content-center fw-light mb-4">
    <span style="color: rgb(66, 66, 66)"
      >developed by
      <a href="https://github.com/orange-my-cat" style="color: rgb(66, 66, 66)"
        >orange-my-cat</a
      ></span
    >
  </div>
</footer>
