{{ define "main" }}

<div
  class="container mt-4 p-4 border border-2 rounded-3 border-secondary"
  style="background-color: #e7d0d5"
>
  <div class="row">
    <div class="col-3">
      <img src="/csl.jpeg" class="w-100" />
    </div>
    <div class="col-9">
      <h2>About Me🌸</h2>
      {{ .Content }}
    </div>
  </div>
</div>
<div class="container mt-4 p-0">
  <h2>Latest Posts</h2>
  <div class="container text-center my-3 p-0">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {{ range first 1 .Site.RegularPages }}
          <div class="carousel-item active">
            <div class="col-md-3">
              <div class="card" onclick="location.href='{{ .Permalink }}';">
                <div class="card-img">
                  <img
                    src="{{ .Params.image }}"
                    class="card-img-top"
                    style="height: 160px; object-fit: cover"
                  />
                </div>
                <div class="card-text" style="background-color: #f3f3f3">
                  {{ .Title }}
                </div>
              </div>
            </div>
          </div>
          {{ end }} {{ range first 5 (after 1 .Site.RegularPages) }}
          <div class="carousel-item">
            <div class="col-md-3">
              <div class="card" onclick="location.href='{{ .Permalink }}';">
                <div class="card-img">
                  <img
                    src="{{ .Params.image }}"
                    class="card-img-top img-fluid"
                    style="height: 160px; object-fit: cover"
                  />
                </div>
                <div class="card-text" style="background-color: #f3f3f3">
                  {{ .Title }}
                </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        <a
          class="carousel-control-prev bg-transparent w-aut"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a
          class="carousel-control-next bg-transparent w-aut"
          href="#recipeCarousel"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  let items = document.querySelectorAll(".carousel .carousel-item");

  items.forEach((el) => {
    const minPerSlide = 4;
    let next = el.nextElementSibling;
    for (var i = 1; i < minPerSlide; i++) {
      if (!next) {
        // wrap carousel by using first child
        next = items[0];
      }
      let cloneChild = next.cloneNode(true);
      el.appendChild(cloneChild.children[0]);
      next = next.nextElementSibling;
    }
  });
</script>

{{ end }}
